@tailwind base;
@tailwind components;
@tailwind utilities;

.main-section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #f1f1f1;

  .sidebar {
    width: 25%;
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(168, 168, 168, 0.237);

    .side-content {
      display: flex;
      flex-direction: column;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      /* padding: 10px; */
      /* margin: 10px; */
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .user-profile{
      justify-content: space-between;
      align-items: center;
    }

    .all-categories {

      .cate-head h2{
        font-size: 60px;
        font-weight: bolder;
      }

      .categories {
        display: flex;
        grid-gap: 2px;

        a {
          text-decoration: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
          text-align: center;

        }


      }

    }


    .feature {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;

      .card {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(188, 188, 188, 0.209);
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;

        .card-body {
          padding: 20px;
          flex: 1;
        }

        &:hover {
          background-color: #f1f1f1;
        }

      }
    }
  }
  

  .main-content {
    width: 95%;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(140, 140, 140, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(255, 255, 255);
      padding: 10px;
      background-color: #ffffff;
      border-bottom: 1px solid rgba(128, 128, 128, 0.357);


     

      .nav{
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .form-input{
        width: 500px;
      }

      .btn{
        cursor: pointer;
      }
    }

    .main-header h2 {
      margin: 0;
      padding: 0;
    }

    .main-body {
      padding: 20px;
      flex: 1;
      scroll-behavior: smooth;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 20px;

      .forum-card{
        width: 800px;
        margin-top: 10px;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgba(128, 128, 128, 0.357);
      padding: 20px;
      background-color: #ffffff;
      margin-top: auto;

      .links a {
        color: #000000;
        margin: 0 10px;
        list-style-type: none;
        display: block;
        text-decoration: none;
      }

      .links a:hover {
        color: #555;
      }
    }
  }

  .content {
    width: 75%;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  /* Mobile and tablet view */
  @media (max-width: 768px) {
    flex-direction: column;

    .sidebar {
      display: none;
      width: 100%;
      margin: 0;
    }

    .main-content {
      width: 50%;
      /* margin: 0; */

      .main-header{
        flex-direction: column-reverse;
      }

      .forum-card{
        width: 100%;
        background-color: aqua;

        .name{
          display: flex;
          align-items: center;
          gap: 150px;
        }
      }
    }

    .content {
      width: 100%;
      margin: 0;
    }
  }
}