@tailwind base;
@tailwind components;
@tailwind utilities;


.main-page{
  height: 100%;
  display: flex;
  flex-direction: column;

  .contianer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 90%;
  }

  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav{
    align-items: center;
  }

  .user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .main-body{
    .hero{
      background-image: url('./avatars/lucas-law-ecELcxmJTk4-unsplash.jpg');
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      /* blur background to the image*/
      /* filter: blur(5px); */


      .text{
        filter: blur(0);
      }

      .text p{
        font-size: 1.5rem;
        color: #000;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
      }
    }

    .categories{
      margin-bottom: 1rem;
    }

    .categories-list{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      gap: 10px;

    }

    .user-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    .form-input{
      width: 800px;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .user-name{
      margin-left: 20px;
    }

    .title{
      font-size: 1.5rem;
      color: #000;
      margin: 0 auto;
      margin-top: 10px;
    }

    .content{
      font-size: 1rem;
      color: #a8a8a8;
      /* margin: 0 auto; */
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .category{
      padding: 5px ;
      background-color: #ffcd50;
      color: white;
    }

    .card-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;


      .icons{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }


    .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }



   
  }


  @media screen and (max-width: 768px){
    .main-header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero{
      width: auto;
    }

    
  }

  @media screen and (max-width: 1068px){
    .main-header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  }
}